## Extraction

In [5]:
import pandas as pd
active_corporations=pd.read_csv(r'Active_Corporations___Beginning_1800.csv')
unemployment=pd.read_csv(r'Local_Area_Unemployment_Statistics__Beginning_1976.csv')
counties=pd.read_csv(r'counties.csv')

In [6]:
counties.head()

,County,FIPS Code[1],County Seat[2],Created[2],Formed from[3],Named for[4],Density,2010 Population[2],Area[2],Map
0,Albany County,1,Albany,1683,One of 12 original counties created in the New...,James II of England (James VII of Scotland) (1...,570.74,"304,204","533 sq mi(1,380 km2)",NaN
1,Allegany County,3,Belmont,1806,Genesee County,A variant spelling of the Allegheny River,47.34,"48,946","1,034 sq mi(2,678 km2)",NaN
2,Bronx County,5,New York City (coextensive withThe Bronx),1914[5],New York County,"Jonas Bronck (1600?–1643), an early settler of...","24,118.2","1,385,108",57.43 sq mi(149 km2),NaN
3,Broome County,7,Binghamton,1806,Tioga County,"John Broome (1738–1810), fourth Lieutenant Gov...",280.56,"200,600","715 sq mi(1,852 km2)",NaN
4,Cattaraugus County,9,Little Valley,1808,Genesee County,"A Seneca word meaning ""bad smelling banks"", re...",61.31,"80,317","1,310 sq mi(3,393 km2)",NaN

In [7]:
unemployment.head()

,Area,Year,Month,Labor Force,Employed,Unemployed,Unemployment Rate
0,Albany City,2021,2,46700,43000,3700,7.9
1,Albany City,2021,1,46800,43100,3700,7.9
2,Albany City,2020,12,47200,43500,3700,7.8
3,Albany City,2020,11,47400,43800,3600,7.7
4,Albany City,2020,10,47200,43500,3800,8.0

In [8]:
counties.head()

,County,FIPS Code[1],County Seat[2],Created[2],Formed from[3],Named for[4],Density,2010 Population[2],Area[2],Map
0,Albany County,1,Albany,1683,One of 12 original counties created in the New...,James II of England (James VII of Scotland) (1...,570.74,"304,204","533 sq mi(1,380 km2)",NaN
1,Allegany County,3,Belmont,1806,Genesee County,A variant spelling of the Allegheny River,47.34,"48,946","1,034 sq mi(2,678 km2)",NaN
2,Bronx County,5,New York City (coextensive withThe Bronx),1914[5],New York County,"Jonas Bronck (1600?–1643), an early settler of...","24,118.2","1,385,108",57.43 sq mi(149 km2),NaN
3,Broome County,7,Binghamton,1806,Tioga County,"John Broome (1738–1810), fourth Lieutenant Gov...",280.56,"200,600","715 sq mi(1,852 km2)",NaN
4,Cattaraugus County,9,Little Valley,1808,Genesee County,"A Seneca word meaning ""bad smelling banks"", re...",61.31,"80,317","1,310 sq mi(3,393 km2)",NaN